/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-color: slategrey;
  color: white;
  margin: 1rem;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
}

.hidden  {
  display: none;
}

h1 {
  font-family: tahoma, arial, sans-serif;
  font-style: italic;
  color: orange;
}

p2 {
  margin: 0;
  display: inline-block;
}


button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

#button1 {
  background: lightblue;
  box-shadow:inset 0 -1em 0 -0.1em rgba(0,0,0,0.5);
}
#button2 {
  background: yellow;
    box-shadow:inset 0 -1em 0 -0.1em rgba(0,0,0,0.5);
}
#button3 {
  background: lightgreen;
    box-shadow:inset 0 -1em 0 -0.1em rgba(0,0,0,0.5);
}
#button4 {
  background: lightpink;
    box-shadow:inset 0 -1em 0 -0.1em rgba(0,0,0,0.5);
}
#button5 {
  background: burlywood;
    box-shadow:inset 0 -1em 0 -0.1em rgba(0,0,0,0.5);
}

#button1:active, #button1.lit {
  background: navy;
  box-shadow:inset 0 -1em 0 -1em rgba(0,0,0,0.17);
}
#button2:active, #button2.lit {
  background: gold;
  box-shadow:inset 0 -1em 0 -1em rgba(0,0,0,0.17);
}
#button3:active, #button3.lit {
  background: darkgreen;
  box-shadow:inset 0 -1em 0 -1em rgba(0,0,0,0.17);
}
#button4:active, #button4.lit {
  background: red;
  box-shadow:inset 0 -1em 0 -1em rgba(0,0,0,0.17);
}
#button5:active, #button5.lit {
  background: darkgoldenrod;
  box-shadow:inset 0 -1em 0 -1em rgba(0,0,0,0.17);
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}